@use 'variables' as *;
@use 'mixins' as m;

.products {
  &__header {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
  }

  @include m.tablet {
    &__header {
      gap: 0;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__btn-add {
    @include m.custom-button($color-yellow, $color-black);
    display: block;
    margin-left: auto;

    @include m.tablet {
      display: inline-block;
      margin-left: 0;
    }
  }

  &__main {
    background-color: $color-white;
    margin-top: 2rem;
    width: 100%;
    border: .1rem solid black;
    padding: 2rem;
  }

  &__wrap-table {
    width: 100%;
    overflow-x: auto;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
  }

  thead {
    background-color: $color-gray;
  }

  tbody {
    display: block;
    max-height: 50vh;
    overflow-y: auto;
  }

  tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  :is(th, td) {
    width: 15rem;
    padding: 2rem;
  }

  th {
    text-align: start;
  }

  &__item-logo {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: cover;
  }

  &__no-data {
    height: 35rem;
    padding-top: 2rem;
  }
}
