

<div class="products container">

  <header class="products__header">
    <app-search-input (onSearchTerm)="handleChangeSearchTerm($event)" />
    <button routerLink="/form-product" class="products__btn-add">Agregar</button>
  </header>

  <main class="products__main">
    <div class="products__wrap-table">
      <table class="products__table">
        <thead class="custom-border-bottom">
          <tr>
            <th>Logo</th>
            <th>Nombre del producto</th>
            <th>Descripción</th>
            <th>Fecha de liberación</th>
            <th>Fecha de restructuración</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          @for (product of productsAux(); track product.id ) {
            <tr class="custom-border-bottom">
              <td>
                <img (error)="handleImageError($event)" class="products__item-logo" [src]="product.logo" [alt]="product.name">
              </td>
              <td>{{ product.name }}</td>
              <td>{{ product.description }}</td>
              <td>{{ product.date_release }}</td>
              <td>{{ product.date_revision }}</td>
              <td>
                <app-drop-down
                (onEdit)="handleEditProduct(product.id)"
                (onDelete)="handleOpenDialog(product.id)" />
              </td>
            </tr>
          } @empty {
            <img class="products__no-data" src="/assets/images/no-data.svg" alt="sin datos">
          }
        </tbody>
      </table>
    </div>

    <app-pagination
      [currentPage]="currentPage()"
      [totalPages]="totalPages"
      [totalProducts]="filteredProducts().length"
      (onPageCurrent)="handleChangePageCurrent($event)"
    />
    <app-items-per-page (onItemsPerPage)="handleChangeItemsPerPage($event)" />

  </main>

</div>

<app-dialog
  *ngIf="isDialogOpen()"
  [title]="dialogTitle()"
  (onClosed)="isDialogOpen.set(false)"
  (onConfirmed)="handleDeleteProduct()" />






