@use 'variables' as *;

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: $color-gray;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}

// TODO: ELIMINAR SI NO SE USA
img {
  display: block;
  max-width: 100%;
}

// TODO: ELIMINAR SI NO SE USA
a {
  text-decoration: none;
  cursor: pointer;
}

.container {
  max-width: 140rem;
  margin: auto;
  width: 90%;

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.custom-border-bottom {
  border: 0;
  border-bottom: .1rem;
  border-style: solid;
  border-color: black;
}

.custom-button {
  background-color: $color-yellow;
  border: none;
  padding: 1rem 2rem;
  text-align: center;
  border-radius: .5rem;
  cursor: pointer;
}
.custom-button:hover {
  background-color: darken($color-yellow, 10%);
}


// TODO: ELIMINAR SI NO SE USA
.msg-error {
  display: block;
  font-size: 1.4rem;
  color: red;
  margin-top: .5rem;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity .2s ease, transform .2s ease;
}

// TODO: ELIMINAR SI NO SE USA
.msg-error.visible {
  opacity: 1;
  transform: translateY(0);
}

// TODO: ELIMINAR SI NO SE USA
.truncated-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 12rem;
}

// TODO: ELIMINAR SI NO SE USA
.badge {
  display: inline-block;
  white-space: nowrap;
  line-height: 1.6rem;
  padding: .5rem 1rem;
  border-radius: .6rem;
  font-size: 1.2rem;
  font-weight: 500;
}

