@use 'variables' as *;
@use 'mixins' as m;

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: $color-gray;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

hr {
  margin: 0;
}

input[readonly] {
  background-color: $color-gray;
  cursor: not-allowed;
}

.container {
  max-width: 140rem;
  margin: auto;
  width: 90%;

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.custom-border-bottom {
  border: 0;
  border-bottom: .1rem;
  border-style: solid;
  border-color: $color-black;
}

.msg-error {
  display: block;
  font-size: 1.4rem;
  color: $color-red;
  margin-top: .5rem;
  opacity: 0;
  transform: translateY(-2rem);
  transition: opacity .2s ease, transform .2s ease;
}
.msg-error.visible {
  opacity: 1;
  transform: translateY(0);
}

