@use 'variables' as *;

// Media Queries
@mixin smartphone {
    @media (min-width: $smartphone) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: $tablet) {
        @content;
    }
}
@mixin laptop {
    @media (min-width: $laptop) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: $desktop) {
        @content;
    }
}

@mixin border-bottom {
  border: 0;
  border-bottom: .1rem;
  border-style: solid;
  border-color: black;
}
