// Media Queries
$smartphone: 480px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1200px;

// Colors
$color-yellow: #f5df66;
$color-gray: #f4f6f9;
$color-black: #000;
$color-white: #fff;
$color-red: #f44336;
